<h2 class="my-3"> Please enter Recipe's details </h2>
<hr>
<form method="POST" class="my-2">
  <div class="form-group">
    <label for="name">Please enter your keyword</label>
    <input type="text" class="form-control" id="keyword" name="keyword" required>
  </div>
  <br>
  <div class="form-group">
    <button type="submit" class="btn btn-primary" > Search for recipes </button>
  </div>
  </form>
